@font-face {
  font-family: "Chronicles";
  src: url("../font/Mirkwood_Chronicle.ttf");
}

*{
	margin:0;
	padding:0;
}
html{
	height:100%;
	width:100%;
	font-family:sans-serif;
}
body{
	border:0px;
	margin:0px;
	padding:0px;
	overflow: hidden;
	width:100%;
	height:100%;
	background:url('../img/main-bg.png') center no-repeat #EFEFEF;
	background-size: cover;
}

#vertical-warning{ display:none; }
@media handheld and (orientation:portrait) {
	#vertical-warning{
		display:block;
		background:#000;
		opacity:0.85;
		width:100%;
		height:100%;
		position: fixed;
		top:0;
		left:0;
		z-index:99;
	}
	#vertical-warning h3{
		position:absolute;
		color:#FFF;
		width:100%;
		text-align:center;
		height:100px;
		top:calc(50% - 20px);
	}
}

header{
	display:block;
	height:43px;
	border-bottom:1px solid #CCC;
	background-color:rgba(255,255,255,0.8);
	width:100%;
}
header h1{
	font-size:20px;
	line-height:43px;
	display:inline-block;
	width:calc(100% - 150px);
	margin-left:75px;
	font-family:"Chronicles", sans-serif;
	letter-spacing:2px;
}
.right{ position:relative; float:right; right:10px; top:calc(50% - 10px)  }
.btn{
	display:inline-block;
	width:25px;
	height:25px;
	top:calc(50% - 13px);
	line-height:25px;
	text-align:center;
	font-weight:bold;
	font-size:15px !important;
	border-radius:13px;
	border:0px;
}
.btn-menu{
	background:#0067d0;
	color:#fff;
}
.btn-menu-opened{
	background:black;
	color:#fff;
}

.touchable{
	cursor: pointer;
}

.center{
	text-align:center;
}

#main-content{
	overflow-x:auto;
	overflow-y:auto;
	height:calc(100% - 43px);
	width:100%;
	white-space: nowrap;
}
#main-content > h2.watermark{
	padding:10px;
	position:relative;
	top:calc(45% - 25px);
	height:50px;
	opacity:.3;
	font-size:25px;
	line-height:50px;
	display:block;
	cursor:pointer;
}

label{
	display:inline-block;
	width:40%;
}
input{
	display:inline-block;
	height:24px;
	line-height:24px;
	border:1px solid #ccc;
	padding:0 10px;
	font-weight:bold;
	width:155px;
}
input[type=number]{ padding-right:0 !important; padding-left:2px !important; }
select{
	height:25px;
	line-height:25px;
	width:180px;
	margin-bottom:3px;
}

/* PLAYER CONTAINER */
.player-container{
	vertical-align:top;
	box-shadow:0 0 5px #888;
	margin:10px;
	background:rgba(254,254,254, 0.5);
	min-height:calc(100% - 22px);
	height:auto;
	width:calc(33% - 20px);
	max-width:450px;
        min-width: 375px;
	position: relative;
	border:1px solid #AAA;
	border-radius:8px;
	white-space: normal;
	display: inline-block;
}
@media screen and (max-width: 1023px) {
	.player-container{
		width:calc(50% - 20px);
	}
}

@media screen and (max-width: 530px) {
	.player-container{
		width:calc(100% - 20px);
	}
}
.player-container .player-name{ height:28px; }
.player-container a.btn-delete{
	text-decoration:none;
	font-size:13px;
	color:#fff;
	background:red;
	height:20px;
	line-height:19px !important;
	width:20px;
	border-radius:3px;
	position:relative;
	display:inline-block;
	font-weight:bold;
}
.player-container h3, .player-container h4{
	height:30px;
	letter-spacing:1px;
	line-height:30px;
	font-family:"Chronicles", sans-serif;
	width:calc(100% - 10px);
	padding-left:10px;
	border-bottom:1px solid #BBB;
}
.player-container h3{ font-size:90%; }
.player-container h4{ font-size:90%; }
.player-container .full-padding-5{
	width:calc(100% - 10px);	
	padding:5px;
}
.player-container .player-description{
	border-bottom:1px solid #bbb;
	text-transform: uppercase;
	font-size: 85%;	
}

.player-container .column{
	display:inline-block;
	vertical-align:top;
	width:calc(49% - 10px);
	padding:5px;
}
.player-container .carac{
	font-size:90%;
	min-height:40px;
	line-height:40px;
	display:flex;
}
.player-container .carac .def{
	display:inline-block;
	width:50%;
	font-size:90%;
	text-transform: uppercase;
	text-align:right;
	font-weight:bold;
	margin-top:4px;
	height:24px;
	line-height:24px;
}
.player-container .carac .val{
	display:inline-block;
	height:24px;
	line-height:24px;
	margin-top:4px;
	max-width:40%;
	width:45px;
	margin-left:8%;
	background: transparent;	
}
.player-container table{
	width:calc(100% - 10px);
	margin:5px;
	border-collapse:collapse;
	border:1px solid #999;
}

.player-container .add-weapon{ color:#020202; font-variant:small-caps; }

.player-container table th, .player-container table td{ font-size:90%; }
.player-container table tr{ height:30px; line-height:30px; margin:20px 0; border-bottom:1px solid #aaa; }
.player-container td input{ width:100px; }
.player-container .left-bordered { border-left:1px solid #aaa; }
.player-container td input[type="number"]{ width:30px; display:inline-block; }
.player-container td select{ width:75px; display:inline-block; }

/* MODAL */
.modal-container{
	display:none;
	position:fixed;
	top:43px;
	left:0;
	width:100%;
	min-height:calc(100% - 43px);
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4);
	overflow:auto;
}
.right-modal-content{
	height:100%;
	width:200px;
	position:fixed;
	right:0;
	top:50px;
	background:#fff;
}
.modal-form
{
	margin:auto;
	height:auto;
	background-color:#eee;
	margin-top:20px;
	padding:0;
	width:350px;
	padding:15px;
	border:2px solid #444;
	border-radius:10px;
}
.modal-form input{
	margin-bottom:3px;
}

.modal-form .btn-primary{
	padding:0px 15px;
	border:1px solid #ccc;
	height:30px;
	line-height:30px;
	text-transform:uppercase;
}
.modal-form .warning{
	margin:5px auto 20px auto;
	border:1px solid #c43700;
	background:#ffdacb;
	width:calc(90% - 20px);
	padding:5px;
	border-radius:8px;
}
.modal-form .btn-submit{
	background-color:green;
	color:white;
	font-weight:bold;
}
.modal-form .btn-cancel{
	color:white;
	background-color:red;
	font-weight:bold;
}

.modal-form .form-buttons{
	margin-top:8px;
	text-align:right;
}

/* APP MENU */
#app-menu{
	position:fixed;
	right:5px;
	top:53px;
	width:175px;
	height:auto;
	background:RGBA(255,255,255, 0.8);
	border:1px solid #ccc;
	padding:5px 0px;
	display:none;
}

#app-menu li{
	height:30px;
	line-height:30px;
	list-style-type:none;
	width:100%;
	padding:5px 0;
	border-bottom:1px solid #efefef;
}
#app-menu li a {
	display:inline-block;
	width:95%;
	margin-left:5%;
	color:#000;
	text-decoration:none;
	font-weight:bold;
	text-transform:uppercase;
	font-size:80%;
}

/* NOTES */
div.notes{
	margin:10px;
}
#notes-modal .player-name{ height:22px; }
#notes-modal a.btn-delete{
	text-decoration:none;
	font-size:13px;
	color:#fff;
	background:red;
	height:20px;
	line-height:19px !important;
	width:20px;
	border-radius:3px;
	position:relative;
	display:inline-block;
	font-weight:bold;
}